<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="fill_parent"
    android:background="#FFFFFF"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <RelativeLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="135dp"
        android:layout_height="135dp"
        android:id="@+id/linearLayout12"
        android:background="#E46E64">
        <ImageView
            android:id="@+id/imageView1"
            android:layout_width="fill_parent"
            android:src="@drawable/day"
            android:layout_height="150dp"
            android:scaleType="fitXY"
            android:layout_centerHorizontal="true"
            android:padding="10dp" />
        <TextView
            android:textColor="@android:color/black"
            android:id="@+id/EventText12"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentBottom="true"
            android:text="Likes:5"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_alignParentRight="true"
            android:layout_marginRight="5dp"
            android:paddingBottom="5dp" />
    </RelativeLayout>
</LinearLayout>